h1 /* 설문지 제목 */
{
    font-family: "한컴산뜻돋움", serif;
    text-align: center;
}

/* ======================================================================= */

#Information, #age /* 학년, 개인정보 부분 */
{
    background: lightblue;
}

/* ======================================================================= */

html /* 배경 */
{
    background-color : cornsilk;
    height: 100%;
    margin: 60px;
}

/* ======================================================================= */

header /* 설문지 제목 부분 */
{
    background: lightpink;
    text-align: center;
    width: 100%;
    margin: 10px;
}

/* ======================================================================= */

form /* 내용 꾸밈 */
{
    background: lightseagreen;
    text-align: center;
    width: 100%;
    margin: 10px;
}

/* ======================================================================= */

button /* 제출하기 버튼 */
{
    font-size: 15px;
    margin: 10px;
}

/* ======================================================================= */

footer /* 버튼, 이름 */
{
    background: mediumpurple;
    text-align: center;
    width: 100%;
    margin: 10px;
}

/* ======================================================================= */

textarea /* 글상자 */
{
    max-width: 90%;
    height: auto;
}

/* ======================================================================= */

@media (max-width: 1000px) /* 미디어쿼리 */
{
    .section /* 내용 */
    {
        float:none;
        width:auto;
    }
}